body {
    font-family: Helvetica;
    background-color: dimgray;
    display: flex;
    height: 97vh;
    flex-direction: column;
    justify-content: space-between;
}

#navigator {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
}


#help {
    display: inline-block;
    width: 50px;
}

#title {
    color: white;
    margin-top: 0px;
}

#content {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#hero {
    background-color: white;
    flex: 0.9;
    height: 300px;
    display: flex;
    justify-content: center;
}

#socials {
    display: flex;
    flex-direction: column;
}

#frame {
    display: flex;
    width: auto;
    align-items: flex-end;
    justify-content: space-between;
}